.eventBody {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px; 
}

.subTitle {
    border: 1px yellow solid;
    background-color: navy;
    color: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.subTitle p {
    margin: 0;
}

.eventDetails {
    /* padding-left: 0;
    padding-right: 0; */
}

.eventButton {
    padding-left: 0;
}