<div class="loginBody container">

  <div *ngIf="serverMessage === null || serverMessage === undefined">
    <h2>Username or Password does not match!!</h2>
  </div>

  <h2>Login</h2>
  <form class="loginForm col-md-offset-2 col-md-8" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">    
    <div>
      <div class="input-group formLine">
        <span class="formLabel spanLabel">Username</span>
        <input type="text" formControlName="username" placeholder="Username" class="form-control formLabel">
      </div>

      <div class="input-group formLine">
        <span class="formLabel spanLabel">Password</span>
        <input type="password" formControlName="password" placeholder="Password" class="form-control formLabel">
      </div>

      <button class="btn btn-info btn-block" type="submit" [disabled]="!username.valid || !password.valid">Login</button>
    </div>
  </form>
</div>