html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.homeDiv {
    border: 1px red solid;
    position: absolute;
    height: 100%;
    width: 100%;
}
.outerEventDiv {
    border: 1px lightblue solid;
    background-color: rgb(34, 21, 21);
}
.eventsDiv {
    padding-left: 0;
    /* border: 2px yellow solid; */
    /* background-color: crimson; */
    height: 48%;
    overflow-x: hidden;

    overflow-y: scroll;
}

.eventTab {
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 4px 0px;
}

.eventTab:hover {
    background-color: lightblue;
}

.onTab {
    background-color: navy;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 4px;
    /* margin: 0px 4px; */
}

.offTab {
    background-color: black;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 4px;
    /* margin: 0px 4px; */
}