<div *ngIf="serverMessage === 0"><h2>User Created Success</h2></div>
<div *ngIf="serverMessage === 1"><h2>Username Already Exist</h2></div>
<div *ngIf="serverMessage === 2"><h2>Email Already Exist</h2></div>
<div *ngIf="serverMessage === 3"><h2>Username and Email Already Exist</h2></div>

<form 
  [formGroup]='signupForm'
  (ngSubmit)='onSubmit(signupForm.value)'
>

  <div>
    <label>User Name</label>
    <input formControlName="username" placeholder="User Name" type="text" id="usernameInput">
    <span *ngIf="!username.valid && username.touched">Error</span>
  </div>

  <div>
    <label>Password</label>
    <input formControlName="pwd" placeholder="Password" type="text" id="pwdInput">
    <span *ngIf="!pwd.valid && pwd.touched || !signupForm.errors.passwordMatch && pwd.touched">Error</span>
  </div>

  <div>
    <label>Re-type Password</label>
    <input formControlName="rePassword" placeholder="Re-type Password" type="text">
    <span *ngIf="!rePassword.valid && rePassword.touched || !signupForm.errors.passwordMatch && rePassword.touched">Error</span>
  </div>

  <div>
    <label>Email</label>
    <input formControlName="email" placeholder="Email" type="text">
    <span *ngIf="!email.valid && email.touched">Error</span>
  </div>

  <button type="submit" [disabled]="!email.valid || !rePassword.valid || !pwd.valid || !username.valid || !signupForm.errors.passwordMatch" >Sign Up</button>

</form>
